.question-single-answer {
    padding: 8px;
    font-size: 24px;
    letter-spacing: -0.2px;
}

.question-single-answer-inner {
    /*border: 2px solid transparent;*/
    transition: 250ms all ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    color: rgba(255, 255, 255, 0.8);
}

.question-single-answer.not-selected .question-single-answer-inner {
    background-color: #806158;
}

.question-single-answer.selected .question-single-answer-inner {
    background-color: #5C281F;
}

@media screen AND (max-width: 759px) {
    .question-single-answer-inner{
        padding: 40px 24px;
    }
}

@media screen AND (min-width: 760px) {
    .question-single-answer-inner{
        padding: 80px 32px
    }
}