.question-single-outer {
    margin: 16px 24px;
}

.question-single-banner {
    padding: 64px 0 40px;
    font-size: 32px;
    letter-spacing: 0.1px;
}

.question-single-banner .question-single-number {
    display: inline-block;
    margin-right: 8px;
}