.btn-outline-dark {
    color: #5C281F;
    border-color: #5C281F;
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #5C281F;
    border-color: #5C281F;
}

.button-step-row {
    padding: 32px 0;
}

/* -------------------------------------------- */

.App {
    text-align: center;
}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}*/

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.results-row {
    margin: 0;
}

.results-row .calculation {
    margin: 8px;
    padding: 32px;
    color: #806158;
}

.results-row .calculation .bearname,
.results-row .calculation .bearinfo,
.results-row .calculation .percent {
    line-height: 1;
}

.results-row .calculation .percent {
    font-size: 54px;
    letter-spacing: 4px;
}

.results-row .calculation .bearname {
    font-size: 37px;
    font-weight: 600;
    letter-spacing: 2.1px;
}

.results-row .calculation .bearinfo {
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    padding: 16px 0;
}

.results-row .calculation.bear-single {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

.results-row .calculation.bear-single > .row {
    align-items: center;
}

.results-row .calculation.bear-single .bear-single-content {
    background: rgba(255, 255, 255, 0.5);
    padding: 8px 16px;
}

.results-row .calculation.bear-single .bear-single-bear {
    background-repeat: no-repeat;
    min-height: 275px;
    background-size: contain;
    background-position: left center;
}

@media screen AND (max-width: 991px) {
    .results-row .calculation.bear-single .bear-single-bear {
        background-position: center;
    }
}

.results-row .calculation.bear-black-bear .bear-single-bear {
    /*background-image: url('https://dancingbearlodge.com/wp-content/uploads/2018/05/bear-1.jpg') !important;*/
}

.results-row .calculation.bear-panda-bear .bear-single-bear {
    /*background-image: url('https://dancingbearlodge.com/wp-content/uploads/2018/05/bear-2-panda.jpg') !important;*/
}

.results-row .calculation.bear-polar-bear .bear-single-bear {
    /*background-image: url('https://dancingbearlodge.com/wp-content/uploads/2018/05/bear-4-white.jpg') !important;*/
}

.results-row .calculation.bear-grizzly-bear .bear-single-bear {
    /*background-image: url('https://dancingbearlodge.com/wp-content/uploads/2018/05/bear-3-brown.jpg') !important;*/
}


